@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: white;

  width: 100%;
  transition: all 0.3s ease-in-out;
  &.menu-top-collapsed {
    padding: 0;
  }
  &__left {
    display: flex;
    align-items: center;
    height: 70px;
    &__logo {
      width: 70px;
      padding: 0px 10px;
    }
  }
  button.btn-menu {
    height: 70px;
    width: 80px;
    cursor: pointer;
    font-size: 30px;
    &:hover {
      color: rgb(152,39,39);
    }
    &:focus,
    &:active {
      color: rgb(0,21,41);
    }
  }
  div.menu-top__right {
    position: relative;
    height: 70px;
    margin: 0px;
    display: flex !important;
  }
}
